<div class="w-full overflow-auto col items-center justify-start bg-gray-900">
  <div class="flex w-full bg-white justify-center p-6">
    <img src="/assets/logo.png" alt="" />
  </div>
  <div class="col p-6 w-full md:max-w-[600px] gap-6">
    <h1 class="text-center">Mẫu đăng ký nghỉ phép - Điều chỉnh chấm công</h1>
    <app-progress-bar [step]="step"></app-progress-bar>
    <br />
    <form
      *ngIf="step == 0"
      class="col gap-5"
      [formGroup]="form1"
      autocomplete="off"
    >
      <div class="col gap-4">
        <h5>Chọn Email nhập *</h5>
        <div class="flex items-center">
          <input
            id="emailType-personal"
            type="radio"
            value="personal"
            formControlName="emailType"
            name="emailType"
          />
          <label for="emailType-personal"
            >Khối gián tiếp dùng email samco cá nhân</label
          >
        </div>
        <div class="flex items-center">
          <input
            id="emailType-group"
            type="radio"
            value="group"
            formControlName="emailType"
            name="emailType"
          />
          <label for="emailType-group"
            >Khối trực tiếp dùng email theo chung của từng Xưởng dưới đây</label
          >
        </div>
        <div
          *ngIf="emailType.value === 'group'"
          class="col gap-4 p-4 border rounded-lg"
        >
          <h6>Email chung</h6>
          <div
            *ngFor="let emailGroup of emailGroups; index as i"
            class="flex items-center"
          >
            <input
              [id]="'group-' + i"
              type="radio"
              [value]="emailGroup"
              formControlName="email"
              name="email"
            />
            <label [for]="'group-' + i">{{ emailGroup }}</label>
          </div>
        </div>
        <div
          *ngIf="emailType.value === 'personal'"
          class="p-4 border rounded-lg gap-2"
        >
          <h6>Email cá nhân</h6>
          <input
            type="text"
            placeholder="Điền email"
            name="email"
            formControlName="email"
          />
        </div>
      </div>
      <div class="col gap-4">
        <h5>Họ và tên nhân viên *</h5>
        <input
          type="text"
          placeholder="Điền họ và tên"
          name="name"
          formControlName="name"
        />
      </div>
      <div class="col gap-4">
        <h5>Chức danh *</h5>
        <select formControlName="title">
          <option value="" disabled>Chọn chức danh</option>
          <option value="Nhân viên/KTV">Nhân viên/KTV</option>
          <option value="Phó phòng/Phó Xưởng">Phó phòng/Phó Xưởng</option>
          <option value="Trưởng Phòng/Trưởng Xưởng">
            Trưởng Phòng/Trưởng Xưởng
          </option>
        </select>
      </div>
      <div class="col gap-4">
        <h5>Đơn vị công tác *</h5>
        <select formControlName="unit">
          <option value="" disabled>Chọn đơn vị</option>
          <option *ngFor="let unit of units" [value]="unit.groupName">
            {{ unit.groupName }}
          </option>
        </select>
      </div>
      <div class="col gap-4">
        <h5>Nghỉ phép - Chấm công - Công tác *</h5>
        <select formControlName="type">
          <option value="" disabled>Chọn</option>
          <option value="Nghỉ phép">Nghỉ phép</option>
          <option value="Nghỉ BHXH">Nghỉ BHXH</option>
          <option value="Điều chỉnh chấm công">Điều chỉnh chấm công</option>
          <option value="Báo công tác">Báo công tác</option>
        </select>
      </div>
      <div class="flex w-full mt-4 justify-end">
        <button [disabled]="form1.invalid" class="btn" (click)="submitForm1()">
          Tiếp
        </button>
      </div>
    </form>
    <div
      *ngIf="step == 1"
      class="col border border-red-500 rounded-tl-xl rounded-b-xl"
    >
      <div class="bg-red-400 text-white py-3 px-4 rounded-tl-lg rounded-br-lg">
        {{ form1.value.type }}
      </div>
      <form
        *ngIf="form1.value.type == 'Nghỉ phép'"
        class="col gap-5 p-4"
        [formGroup]="form2"
        autocomplete="off"
      >
        <div class="flex justify-around gap-4">
          <div class="col">
            <h5>Từ ngày *</h5>
            <input type="date" formControlName="fromDate" />
          </div>
          <div class="col">
            <h5>Đến ngày *</h5>
            <input type="date" formControlName="toDate" />
          </div>
        </div>
        <div class="col gap-4">
          <h5>Theo chế độ *</h5>
          <div class="flex items-center">
            <input
              id="mode-0"
              type="radio"
              value="Phép năm"
              formControlName="mode"
              name="mode"
            />
            <label for="mode-0">Phép năm</label>
          </div>
          <div class="flex items-center">
            <input
              id="mode-1"
              type="radio"
              value="Không lương"
              formControlName="mode"
              name="mode"
            />
            <label for="mode-1">Không lương</label>
          </div>
          <div class="flex items-center">
            <input
              id="mode-2"
              type="radio"
              value="Nghỉ bù"
              formControlName="mode"
              name="mode"
            />
            <label for="mode-2">Nghỉ bù</label>
          </div>
          <div class="flex items-center">
            <input
              id="mode-3"
              type="radio"
              value="Việc riêng có lương"
              formControlName="mode"
              name="mode"
            />
            <label for="mode-3">Việc riêng có lương</label>
          </div>
        </div>
        <div class="col gap-4">
          <h5>Lý do xin nghỉ *</h5>
          <textarea cols="30" rows="4" formControlName="reason"></textarea>
        </div>
        <div class="error" *ngIf="isDateError">Ngày nghỉ chưa đúng</div>
        <div class="flex w-full mt-4 justify-between">
          <button class="btn-rounded" (click)="step = 0">Quay lại</button>
          <button
            [disabled]="form2.invalid"
            class="btn"
            (click)="submitForm2()"
          >
            Tiếp
          </button>
        </div>
      </form>
      <form
        *ngIf="form1.value.type == 'Nghỉ BHXH'"
        class="col gap-5 p-4"
        [formGroup]="formBHXH"
        autocomplete="off"
      >
        <div class="flex justify-around gap-4">
          <div class="col">
            <h5>Từ ngày *</h5>
            <input type="date" formControlName="fromDate" />
          </div>
          <div class="col">
            <h5>Đến ngày *</h5>
            <input type="date" formControlName="toDate" />
          </div>
        </div>
        <div class="col gap-4">
          <h5>Theo chế độ *</h5>
          <div class="flex items-center">
            <input
              id="mode-0"
              type="radio"
              value="Nghỉ ốm"
              formControlName="mode"
              name="mode"
            />
            <label for="mode-0">Nghỉ ốm</label>
          </div>
          <div class="flex items-center">
            <input
              id="mode-1"
              type="radio"
              value="Nghỉ thai sản"
              formControlName="mode"
              name="mode"
            />
            <label for="mode-1">Nghỉ thai sản</label>
          </div>
        </div>
        <div class="col gap-4">
          <h5>Lý do xin nghỉ *</h5>
          <textarea cols="30" rows="4" formControlName="reason"></textarea>
        </div>
        <div class="error" *ngIf="isDateError">Ngày nghỉ chưa đúng</div>
        <div class="flex w-full mt-4 justify-between">
          <button class="btn-rounded" (click)="step = 0">Quay lại</button>
          <button
            [disabled]="formBHXH.invalid"
            class="btn"
            (click)="submitFormBHXH()"
          >
            Tiếp
          </button>
        </div>
      </form>
      <form
        *ngIf="form1.value.type == 'Điều chỉnh chấm công'"
        class="col gap-5 p-4"
        [formGroup]="form3"
        autocomplete="off"
      >
        <div class="flex justify-around gap-4">
          <div class="col">
            <h5>Giờ vào *</h5>
            <input type="time" formControlName="fromTime" />
          </div>
          <div class="col">
            <h5>Giờ ra *</h5>
            <input type="time" formControlName="toTime" />
          </div>
        </div>
        <div class="col gap-4">
          <h5>Ngày cần điều chỉnh *</h5>
          <input type="date" formControlName="onDate" />
        </div>
        <div class="col gap-4">
          <h5>Lý do *</h5>
          <textarea cols="30" rows="4" formControlName="reason"></textarea>
        </div>
        <div class="error" *ngIf="isTimeError">Thời gian chưa đúng</div>
        <div class="flex w-full mt-4 justify-between">
          <button class="btn-rounded" (click)="step = 0">Quay lại</button>
          <button
            [disabled]="form3.invalid"
            class="btn"
            (click)="submitForm3()"
          >
            Tiếp
          </button>
        </div>
      </form>
      <form
        *ngIf="form1.value.type == 'Báo công tác'"
        class="col gap-5 p-4"
        [formGroup]="form4"
        autocomplete="off"
      >
        <div class="flex justify-around gap-4">
          <div class="col gap-3">
            <div>
              <h5>Thời gian bắt đầu *</h5>
              <input type="time" formControlName="fromTime" />
            </div>
            <div>
              <h5>Ngày bắt đầu công tác *</h5>
              <input type="date" formControlName="fromDate" />
            </div>
          </div>
          <div class="col gap-3">
            <div>
              <h5>Thời gian kết thúc *</h5>
              <input type="time" formControlName="toTime" />
            </div>
            <div>
              <h5>Ngày kết thúc công tác *</h5>
              <input type="date" formControlName="toDate" />
            </div>
          </div>
        </div>
        <div class="col gap-4">
          <h5>Nơi công tác *</h5>
          <textarea cols="30" rows="4" formControlName="reason"></textarea>
        </div>
        <div class="error" *ngIf="isMissionTimeError">Thời gian chưa đúng</div>
        <div class="flex w-full mt-4 justify-between">
          <button class="btn-rounded" (click)="step = 0">Quay lại</button>
          <button
            [disabled]="form4.invalid"
            class="btn"
            (click)="submitForm4()"
          >
            Tiếp
          </button>
        </div>
      </form>
    </div>
    <div
      *ngIf="step == 2"
      class="flex flex-col justify-center items-center gap-4"
    >
      <form class="col gap-5 p-4" [formGroup]="form5" autocomplete="off">
        <div class="col gap-4">
          <h5>Số ngày đề nghị *</h5>
          <input type="number" formControlName="days" min="0.5" step="0.5" />
        </div>
        <div class="flex w-full mt-4 justify-between gap-8">
          <button class="btn-rounded" (click)="step = 1">Quay lại</button>
          <button
            [disabled]="loading || form5.invalid"
            class="btn"
            (click)="submitForm5()"
          >
            {{ loading ? loadingText : 'Đăng ký' }}
          </button>
        </div>
      </form>
    </div>
    <div
      *ngIf="step == 3"
      class="flex flex-col justify-center items-center gap-4"
    >
      <h2>Xin cảm ơn</h2>
      <div
        class="text-black p-4 bg-[#2c3d5b]"
        [innerHTML]="data | safeHtml"
      ></div>
      <button class="btn" (click)="step = 1">Điều chỉnh và gửi lại</button>
      <img src="/assets/thanks.jpg" alt="" />
    </div>
  </div>
  <div class="flex w-full bg-white justify-center p-6 footer-image"></div>
</div>
